<div class="row">
    <div class="col-xs-12">
        <p>Add new Server Or Blueprint</p>
        <label for="name">Server Name</label>
        <input type="text" class="form-control" name="newServerName" [(ngModel)]="newServerName">
        <label for="content"> Content Name</label>
        <input type="content" class="form-control" name="newServerContent" [(ngModel)]="newServerContent">
        <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
        <button class="btn btn-info" (click)="onAddBluePrint()">Add BluePrint</button>
    </div>
</div>
