<div class="container">
    <h3 appBasicHighlight >Numbering Game</h3>
    <h3 [appBetterHighlight]="'red'" [defaultColor]="'yellow'"  >Numbering Game</h3>

    
    <div class="row">
        <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
    <div class="row">
        <div class="col-sm-6">   
            <app-odd *ngFor="let oddNumber of oddNumbers" [number]= "oddNumber"></app-odd>
        </div>
        <div class="col-sm-6">   
            <app-even *ngFor="let evenNumber of enenNumbers" [number]= "evenNumber"></app-even>
        </div>
    </div>
</div>